/*taustaväri on harmaa*/
body {
  background-color: grey;
}
/*koska tausta on harmaa niin otsikot ovat valkoisia*/
h1 {
  color: white;
  text-align: center;
}
/*fonttikoko on 25 jotta sitä on helpompi lukea*/
p {
  font-family: verdana;
  font-size: 25px;
}
/*Tähän loppuu tyylimuokkaus*/
