body{
    background-color: cadetblue;
}
h1{
    font-size: 500%%;
    text-align: center;
    color: white;
}
p{
    font-size: 200%;
    color: white;
    text-align: center;
}

.wrapper-main {
    width: 900px;
    margin: 0 auto;
}