body {
    background-color: cadetblue;
}

h1 {
    color: white;
    text-align: center;
    font-family: arial;
}



.links ul li a {
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 150%;
}